{% extends "SunshineUIBundle::layout.html.twig" %}

{% block content %}
    {% block content_header %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                部门管理
                <small>用来设置单位或公司内的系统、子系统、事业部、部门、子部门等。</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 组织架构管理</a></li>
                <li class="active">部门管理</li>
            </ol>
        </section>
    {% endblock %}

    {% block content_box %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/bootstrap/easyui.css', 'easyui') }}">
    <link rel="stylesheet" href="{{ asset('themes/icon.css', 'easyui') }}">
{% endblock %}

{% block bottom_script %}
    {{ parent() }}
    <!-- EasyUI -->
    <script src="{{ asset('jquery.easyui.min.js', 'easyui') }}"></script>
    <script src="{{ asset('jquery.pjax.js', 'js') }}"></script>
{% endblock %}