{% extends "@SunshineOrganization/businessunit/businessUnit.html.twig" %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default" id="append"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>{{ 'sunshine.label.create'|trans }}</button>
                        <button type="button" class="btn btn-default" id="modify"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{ 'sunshine.label.modify'|trans }}</button>
                        <button type="button" class="btn btn-default" id="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{{ 'sunshine.label.delete'|trans }}</button>

                        <div class="btn-group btn-group-sm" role="group">
                            <select class="form-control input-sm" id="company-name">
                                {% for com in company %}
                                    <option>{{ com.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-body pad table-responsive">
                    <div id="bu-body" class="easyui-layout" style="width:90%;min-height:500px">
                        <div data-options="region:'west',split:true" title="组织架构" style="width:25%;">
                            <ul id="bu" class="easyui-tree" data-options="url:'{{ path('admin_org_bu_tree_json', {'name': defaultCompany}) }}',method:'get',animate:true,lines:true"></ul>
                        </div>
                        <div data-options="region:'center',title:'部门明细'">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="bu_content">
                                        {{ businessUnits ? "修改或添加部门" : "请添加部门" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-warning" id="delete-warning">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{ 'sunshine.organization.warning.bu.notApprovedDelete'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'sunshine.organization.warning.bu.notApprovedContent1'|trans }}</p>
                    <p>{{ 'sunshine.organization.warning.bu.notApprovedContent2'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{ 'sunshine.label.close'|trans }}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger" id="delete-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{ 'sunshine.organization.warning.bu.deleteAialog'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'sunshine.organization.warning.bu.deleteContent'|trans }}<span id="delete-bu-name"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{ 'sunshine.label.cancal'|trans }}</button>
                    <button type="button" class="btn btn-outline" id="delete-approved">{{ 'sunshine.label.delete'|trans }}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#append').click(function () {
                append();
                $("div:contains('部门')").trigger('click');
                $.pjax({url: "{{ path('admin_org_bu_new') }}", container: '.bu_content'});
            });

            $('#modify').click(function () {
                var name = $('#bu').tree('getSelected').text;
                var url = "{{ path('admin_org_bu_edit', {'name': 'buName' }) }}";
                url = url.replace('buName', name);
                $.pjax({url: url, container: '.bu_content'});
            });

            $('#delete').click(function () {
                var name = $('#bu').tree('getSelected').text;
                $.ajax({
                    type: "POST",
                    url: "{{ url('admin_org_bu_check') }}",
                    dataType: "json",
                    data: {name: name},
                    success: function (data) {
                        if (!data.approved) {
                            $("#delete-warning").modal();
                            return;
                        }
                        $('#delete-dialog').modal();
                        $('#delete-bu-name').text(name);
                    }
                })
            });

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            var companyName = getUrlParameter('companyName');
            if (companyName) {
                $('#company-name').val(companyName);
            }

            $('#company-name').change(function () {
                window.location.href = './?companyName=' + this.value;
            });
        })
        
        $("#delete-approved").click(function () {
            var name = $('#bu').tree('getSelected').text;
            $.ajax({
                type: "POST",
                url: "{{ url('admin_org_bu_delete') }}",
                dataType: "json",
                data: {name: name},
                success: function (data) {
                    if (!data.deleted) {
                        console.log("删除失败:(");
                        return;
                    }

                    $('#delete-dialog').modal('hide');
                    window.location.href = "{{ url('admin_org_bu_index') }}";
                }
            })
        })

        function append() {
            var tree = $('#bu');
            var node = tree.tree('getSelected');
            tree.tree('append', {
                parent: (node?node.target:null),
                data: [{
                   text: '部门'
                }]
            });
        }

        var windowHeight = $(window).height();
        var topHeight = 207;
        $('#bu-body').css('height', windowHeight - topHeight);
    </script>
{% endblock %}
