{% extends '@SunshineOrganization/businessunit/businessUnit.html.twig' %}

{% block main_content %}
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ businessUnit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ businessUnit.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ businessUnit.code }}</td>
            </tr>
            <tr>
                <th>Ordernumber</th>
                <td>{{ businessUnit.orderNumber }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if businessUnit.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createspace</th>
                <td>{% if businessUnit.createSpace %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ businessUnit.description }}</td>
            </tr>
            <tr>
                <th>Lft</th>
                <td>{{ businessUnit.lft }}</td>
            </tr>
            <tr>
                <th>Lvl</th>
                <td>{{ businessUnit.lvl }}</td>
            </tr>
            <tr>
                <th>Rgt</th>
                <td>{{ businessUnit.rgt }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if businessUnit.createdAt %}{{ businessUnit.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if businessUnit.updatedAt %}{{ businessUnit.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_org_bu_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_org_bu_edit', { 'id': businessUnit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
