{% extends "@SunshineOrganization/title/title.html.twig" %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-lg-6">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" id="append"><span
                                        class="glyphicon glyphicon-plus-sign"
                                        aria-hidden="true"></span>{{ 'sunshine.label.create'|trans }}</button>
                            <button type="button" class="btn btn-default" id="modify">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                {{ 'sunshine.label.modify'|trans }}
                            </button>
                            <button type="button" class="btn btn-default" id="delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                {{ 'sunshine.label.delete'|trans }}
                            </button>
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
                                    {{ 'sunshine.label.import'|trans }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">{{ 'sunshine.label.importFromExcel'|trans }}</a></li>
                                    <li><a href="#">{{ 'sunshine.label.downloadTemplate'|trans }}</a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default" id="export">
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                                {{ 'sunshine.label.export'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 pull-right">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="basic-addon1">全局搜索</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="box-body pad table-responsive">
                    <div class="easyui-layout" id="title-body">
                        <div data-options="region:'center'">
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                               aria-describedby="example1_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Rendering engine: activate to sort column descending"
                                                    style="width: 163px;" aria-sort="ascending">岗位类别
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" aria-label="Browser: activate to sort column ascending"
                                                    style="width: 201px;">岗位名称
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                                    style="width: 178px;">岗位代码
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" aria-label="Engine version: activate to sort column ascending"
                                                    style="width: 138px;">岗位类型
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                                    style="width: 100px;">排序号
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">管理类</td>
                                                <td>总统兼神父</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>1</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">管理类</td>
                                                <td>总裁</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>2</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">管理类</td>
                                                <td>副总</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>3</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">管理类</td>
                                                <td>特别事业部副总</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>4</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">管理类</td>
                                                <td>人事行政经理</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>5</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">技术类</td>
                                                <td>高级研发工程师</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>6</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">职能类</td>
                                                <td>厂务维护</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>7</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">职能类</td>
                                                <td>薪资专员</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>8</td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">职能类</td>
                                                <td>招聘专员</td>
                                                <td></td>
                                                <td>单位自建岗位</td>
                                                <td>9</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1">职能类</td>
                                                <td>物流专员</td>
                                                <td></td>
                                                <td>单位自荐岗位</td>
                                                <td>10</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">岗位类别</th>
                                                <th rowspan="1" colspan="1">岗位名称</th>
                                                <th rowspan="1" colspan="1">岗位代码</th>
                                                <th rowspan="1" colspan="1">岗位类型</th>
                                                <th rowspan="1" colspan="1">排序号</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-options="region:'south',title:'增加岗位',split:true,collapsed:true" id="title-south"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('datatables/dataTables.bootstrap.css', 'ltePlugin') }}">
{% endblock %}

{% block bottom_script %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('datatables/jquery.dataTables.js', 'ltePlugin') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap.js', 'ltePlugin') }}"></script>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#example1").DataTable({
                lengthChange: false,
                searching: false
            });
        })

        var windowHeight = $(window).height();
        var topHeight = 207;
        $('#title-body').css('height', windowHeight - topHeight);
        $('#title-south').css('height', (windowHeight - topHeight)/2);
        
        $(document).ready(function () {
            $('#append').click(function () {
                append();
                $("div:contains('部门')").trigger('click');
                $.pjax({url: "{{ path('admin_org_bu_new') }}", container: '.bu_content'});
            });

            $('#modify').click(function () {
                var name = $('#bu').tree('getSelected').text;
                var url = "{{ path('admin_org_bu_edit', {'name': 'buName' }) }}";
                url = url.replace('buName', name);
                $.pjax({url: url, container: '.bu_content'});
            });

            $('#delete').click(function () {
                var name = $('#bu').tree('getSelected').text;
                $.ajax({
                    type: "POST",
                    url: "{{ url('admin_org_bu_check') }}",
                    dataType: "json",
                    data: {name: name},
                    success: function (data) {
                        if (!data.approved) {
                            $("#delete-warning").modal();
                            return;
                        }
                        $('#delete-dialog').modal();
                        $('#delete-bu-name').text(name);
                    }
                })
            });
        })

        $("#delete-approved").click(function () {
            var name = $('#bu').tree('getSelected').text;
            $.ajax({
                type: "POST",
                url: "{{ url('admin_org_bu_delete') }}",
                dataType: "json",
                data: {name: name},
                success: function (data) {
                    if (!data.deleted) {
                        console.log("删除失败:(");
                        return;
                    }

                    $('#delete-dialog').modal('hide');
                    window.location.href = "{{ url('admin_org_bu_index') }}";
                }
            })
        })

        function append() {
            var tree = $('#bu');
            var node = tree.tree('getSelected');
            tree.tree('append', {
                parent: (node?node.target:null),
                data: [{
                    text: '部门'
                }]
            });
        }
        #}

    </script>
{% endblock %}
