{% extends '@SunshineOrganization/servicegrade/serviceGrade.html.twig' %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-lg-8">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" id="append">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                {{ 'sunshine.label.create'|trans }}
                            </button>
                            <button type="button" class="btn btn-default" id="modify">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                {{ 'sunshine.label.modify'|trans }}
                            </button>
                            <button type="button" class="btn btn-default" id="delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                {{ 'sunshine.label.delete'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 pull-right">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="basic-addon1">全局搜索</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="box-body pad table-responsive">
                    <div class="easyui-layout" id="box-body">
                        <div data-options="region:'center'">
                            <div id="data_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="table" class="table table-bordered table-striped dataTable" role="grid"
                                               aria-describedby="table_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="table" rowspan="1"
                                                    colspan="1"
                                                    aria-label="ServiceGrade name: activate to sort column descending"
                                                    style="width: 163px;" aria-sort="ascending">职务级别名称
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="table" rowspan="1"
                                                    colspan="1" aria-label="ServiceGrade code: activate to sort column ascending"
                                                    style="width: 201px;">职务级别代码
                                                </th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="table" rowspan="1"
                                                    colspan="1" aria-label="ServiceGrade order number: activate to sort column ascending"
                                                    style="width: 178px;">职务级别序号
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="table" rowspan="1"
                                                    colspan="1" aria-label="ServiceGrade state: activate to sort column ascending"
                                                    style="width: 100px;">状态
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="table" rowspan="1"
                                                    colspan="1" aria-label="ServiceGrade description: activate to sort column ascending"
                                                    style="width: 100px;">描述
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for serviceGrade in serviceGrades %}
                                                <tr>
                                                    <td>{{ serviceGrade.name }}</td>
                                                    <td>{{ serviceGrade.code }}</td>
                                                    <td>{{ serviceGrade.orderNum }}</td>
                                                    <td>{{ serviceGrade.enabled ? 'sunshine.label.stateWork'|trans : 'sunshine.label.stateNotWork'|trans }}</td>
                                                    <td>{{ serviceGrade.description }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">职务级别名称</th>
                                                <th rowspan="1" colspan="1">职务级别代码</th>
                                                <th rowspan="1" colspan="1">职务级别序号</th>
                                                <th rowspan="1" colspan="1">状态</th>
                                                <th rowspan="1" colspan="1">描述</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-options="region:'south',title:'职务级别明细',split:true,collapsed:true" id="box-south" data-spy="scroll" data-target=".navbar" data-offset="50">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div id="detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('datatables/dataTables.bootstrap.css', 'ltePlugin') }}">
{% endblock %}

{% block bottom_script %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('datatables/jquery.dataTables.js', 'ltePlugin') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap.js', 'ltePlugin') }}"></script>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            var table = $("#table").DataTable({
                lengthChange: false,
                searching: false,
                pageLength: 8,
                order: [2, 'asc']
            });

            var row_data;

            $('#table tbody').on( 'click', 'tr', function () {
                row_data = table.row(this).data();

                if ($(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#append').click(function () {
                $('#box-body').layout('expand', 'south');
                $.pjax({url: "{{ path('admin_org_servicegrade_new') }}", container: '#detail'});
            });

            $('#modify').click(function () {
                var modifyName = row_data[0];
                var url = "{{ path('admin_org_servicegrade_edit', {'name': 'modifyName'}) }}";
                url = url.replace('modifyName', modifyName);
                $.pjax({url: url, container: '#detail'});
                $('#box-body').layout('expand', 'south');
            });
        })

        var windowHeight = $(window).height();
        var topHeight = 207;
        $('#box-body').css('height', windowHeight - topHeight);
        $('#box-south').css('height', (windowHeight - topHeight)/2);
    </script>
{% endblock %}