{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servicegrade</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serviceGrade.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ serviceGrade.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ serviceGrade.code }}</td>
            </tr>
            <tr>
                <th>Ordernum</th>
                <td>{{ serviceGrade.orderNum }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if serviceGrade.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ serviceGrade.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if serviceGrade.createdAt %}{{ serviceGrade.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if serviceGrade.updatedAt %}{{ serviceGrade.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if serviceGrade.deletedAt %}{{ serviceGrade.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_org_servicegrade_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_org_servicegrade_edit', { 'id': serviceGrade.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
