{% extends "@SunshineOrganization/company/company.html.twig" %}

{% block main_content %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(edit_form.name) }}
                            {{ form_row(edit_form.foreignName) }}
                            {{ form_row(edit_form.alias) }}
                            {{ form_row(edit_form.type) }}
                            {{ form_row(edit_form.legalPerson) }}
                            {{ form_row(edit_form.address) }}
                            {{ form_row(edit_form.zipCode) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(edit_form.phone) }}
                            {{ form_row(edit_form.fax) }}
                            {{ form_row(edit_form.website) }}
                            {{ form_row(edit_form.mail) }}
                            {{ form_row(edit_form.officeAddress) }}
                            {{ form_row(edit_form.description) }}
                            {{ form_row(edit_form.organization) }}
                        </div>
                    </div>
                    <div class="box-footer bottom-button-center">
                        <input type="submit" value="{{ 'sunshine.form.editSubmit'|trans }}" class="btn btn-primary" />
                        <a href="{{ path('admin_org_company_index') }}" class="btn btn-primary">返回列表</a>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
