{% extends "@SunshineOrganization/company/company.html.twig" %}

{% block main_content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Foreignname</th>
                <th>Alias</th>
                <th>Legalperson</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Website</th>
                <th>Mail</th>
                <th>Officeaddress</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('admin_org_company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.foreignName }}</td>
                <td>{{ company.alias }}</td>
                <td>{{ company.legalPerson }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.zipCode }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.fax }}</td>
                <td>{{ company.website }}</td>
                <td>{{ company.mail }}</td>
                <td>{{ company.officeAddress }}</td>
                <td>{{ company.description }}</td>
                <td>{% if company.createdAt %}{{ company.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if company.updatedAt %}{{ company.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_org_company_show', { 'id': company.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_org_company_edit', { 'id': company.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_org_company_new') }}">Create a new company</a>
        </li>
    </ul>
{% endblock %}
