{% extends "SunshineUIBundle::layout.html.twig" %}

{% block content %}
    {% block content_header %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                表单系统管理
                <small>用来创建、配置表单、流程</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 表单系统管理</a></li>
                <li class="active">表单管理</li>
            </ol>
        </section>
    {% endblock %}

    {% block content_box %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block bottom_script %}
    {{ parent() }}
    <script src="{{ asset('jquery-ui.min.js', 'js') }}"></script>
    <script src="{{ asset('custom.js', 'js') }}"></script>
{% endblock %}