{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organizations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Foreignname</th>
                <th>Alias</th>
                <th>Legalperson</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Website</th>
                <th>Mail</th>
                <th>Officeaddress</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td><a href="{{ path('admin_org_show', { 'id': organization.id }) }}">{{ organization.id }}</a></td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.foreignName }}</td>
                <td>{{ organization.alias }}</td>
                <td>{{ organization.legalPerson }}</td>
                <td>{{ organization.address }}</td>
                <td>{{ organization.zipCode }}</td>
                <td>{{ organization.phone }}</td>
                <td>{{ organization.fax }}</td>
                <td>{{ organization.website }}</td>
                <td>{{ organization.mail }}</td>
                <td>{{ organization.officeAddress }}</td>
                <td>{{ organization.description }}</td>
                <td>{% if organization.createdAt %}{{ organization.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if organization.updatedAt %}{{ organization.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_org_show', { 'id': organization.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_org_edit', { 'id': organization.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_org_new') }}">Create a new organization</a>
        </li>
    </ul>
{% endblock %}
