{% extends "@SunshineOrganization/layout.html.twig" %}

{% block main_content %}
    {{ parent() }}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
            {{ form_row(form.foreignName) }}
            {{ form_row(form.alias) }}
            {{ form_row(form.admin) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.type) }}
            {{ form_row(form.legalPerson) }}
            {{ form_row(form.address) }}
            {{ form_row(form.zipCode) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.fax) }}
            {{ form_row(form.website) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.officeAddress) }}
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="box-footer bottom-button-center">
        <input type="submit" value="{{ 'sunshine.form.createSubmit'|trans }}" class="btn btn-primary" />
        <a href="{{ path('admin_org_front') }}" class="btn btn-primary">返回组织管理</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
