{% extends "@SunshineOrganization/layout.html.twig" %}

{% block main_content %}
    {{ parent() }}
    <table>
        <tbody>
            <tr>
                <th>{{ 'sunshine.organization.form.org.name'|trans }}</th>
                <td>{{ organization.name }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.foreignName'|trans }}</th>
                <td>{{ organization.foreignName }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.alias'|trans }}</th>
                <td>{{ organization.alias }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.admin'|trans }}</th>
                <td>{{ organization.admin }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.type'|trans }}</th>
                <td>{{ organization.type.displayName }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.legalPerson'|trans }}</th>
                <td>{{ organization.legalPerson }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.address'|trans }}</th>
                <td>{{ organization.address }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.zipCode'|trans }}</th>
                <td>{{ organization.zipCode }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.phone'|trans }}</th>
                <td>{{ organization.phone }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.fax'|trans }}</th>
                <td>{{ organization.fax }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.website'|trans }}</th>
                <td>{{ organization.website }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.mail'|trans }}</th>
                <td>{{ organization.mail }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.officeAddress'|trans }}</th>
                <td>{{ organization.officeAddress }}</td>
            </tr>
            <tr>
                <th>{{ 'sunshine.organization.form.org.description'|trans }}</th>
                <td>{{ organization.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_org_edit', { 'id': organization.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
